@model TestCoreWebAppMvc.Models.Subject

@{
    ViewData["Title"] = "Create Subject";
}

<h2>Create Subject</h2>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        $(document).ready(function () {
            toastr.success('@TempData["SuccessMessage"]');
        });
    </script>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Class"></label>
        <input asp-for="Class" class="form-control" />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Language">Languages (separated by commas)</label>
        <input asp-for="Language" type="text" class="form-control" name="Language" />
        <span asp-validation-for=Language class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
